/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    padding: 1rem;
    margin: 0 auto;
}
.flex{
    display: flex;
}
p{
    line-height: 30px;
}
.button a{
    padding: 0.5em 3em;
    border-radius: 5rem;
}

/* HEADER */
header{
    background-color: #0084fd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}
header > .container{
    justify-content: space-between;
}
nav{
    display: none;
    margin: auto 0;
}
ul > li{
    list-style: none;
    display: inline-block;
}
ul > li a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
ul > li a:not(.button a):hover{
   text-decoration: underline;
}
nav .button a{
    background-color: white;
    color: black;
    padding: 5px;
}
.bars{
    margin: auto 0;
}
.bars a i{
    font-size: 1.5rem;
    color: white;
}

/* MAIN */
main{
    padding-top: 50px;
}
main img{
    width: 100%;
}
main a{
    text-decoration: none;
    color: white;
}
section{
    padding: 2rem 0;
}
.avatar{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
}
.card{
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 2rem;
}
#planning,
#testimonials, 
#about-us, 
#get-started{
    scroll-margin: 50px;
}

/* demo application */
#demo-application p{
    margin: 2rem 0;
}
#demo-application h2,
#demo-application h3,
#demo-application i{
    color:#0084fd;
}
.download{
    padding-bottom: 0;
    text-align: left;
}
.download .phone{
    align-items: flex-end;
    justify-content: center;
}
.download .phone img{
    width: 80%;
}
.download .button a{
    background-color: #0084fd;
}
.download .button i{
    font-size: 1rem;
    margin-right: 5px;
    color: white;
}
#demo-application .blue{
    background-color: #b5ddff;
}
#demo-application .blue:not(.download){
    text-align: center;
}
.blue i{
    font-size: 5rem;
    margin-bottom: 2rem;
}

/* strategic planning*/
#planning{
    background-color: #9792e4;
}
.strategic{
    color: white;
}
.strategic h2{
    margin: 3rem 0;
    font-size: 2em;
}
#planning .white{
    background-color: white;
    color: black; 
    text-align: center;
}
#planning .white h3{
    margin: 2rem 0;
    font-size: 2rem;
}
#planning .white p{
    margin-bottom: 2rem;
}
.arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9792e4;
    margin: 0 auto;
}
.arrow i{
    line-height: 50px;
}

/* testimonial */
#testimonials *{
    text-align: center;
}
#testimonials h2{
    font-size: 2em;
    margin: 0.5em 0;
    color: #9792e4;
}
#testimonials p{
    margin-top: 0.5em;
    margin-bottom: 1.5rem;
}
#testimonials span{
    font-size: 1em;
}
#testimonials .violet{
    background-color: #9792e4;
    color: white;
}

/* benefits */
#benefits{
    background-color: #9792e4;
    color: white;
    text-align: center;
}
#benefits h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#benefits .white{
    text-align: left;
    color: #9792e4;
    background-color: white;
}
#benefits .white h3{
    font-size: 4em;
}
#benefits .white h4{
    margin: 1rem 0;
    font-size: 1.5em;
}
#benefits .white p{
    margin-bottom: 2rem;
    color: black;
}
#benefits .button a{
    background-color: #9792e4;
}

/* about us */
#about-us{
    color: #9792e4;
}
#about-us h2{
    font-size: 3em;
}
#about-us p{
    color: black;
    margin: 2rem 0;
}
#about-us h3{
    margin: 2rem 0;
    font-size: 2em;
}
.img-user{
    position: relative;
    display: inline-block;
}
#about-us .img-user > i{
    position: absolute;
    font-size: 5rem;
    top: 0;
    right: 0;
}
#about-us .button a{
    background-color: #9792e4;
    font-size: 12px;
    padding: 0.5rem 1rem;
}

/* get started */
#get-started{
    background-color: #9792e4;
    color: white;
    text-align: center;
}
#get-started h2{
    font-size: 1em;
    color: #c5c2f0;
}
#get-started h3{
    font-size: 2em;
    margin: 1rem 0;
}
#get-started .free{
    display: inline-block;
    font-size: 4em;
    margin: 2rem 0;
    color: #fdc15f;
}
#get-started .button{
    margin: 2rem 0;
}
#get-started .button a{
    background-color: white;
    color: blueviolet;
    font-size: 1.0em;
    padding: 1rem 6rem;
}
.copyright a{
    text-decoration: underline;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer section{
    padding: 0;
}
footer .container{
    padding-bottom: 0;
    padding-top: 0;
}
footer span{
    display: inline-block;
    padding: 3rem 0;
}



/* RESPONSIVE */

/* mobile > tablet */
@media  screen and (min-width:576px) {
    #demo-application .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #demo-application .container > .download{
        width: 65%;
    }
    .download .phone{
        justify-content: flex-start;
    }
    #demo-application .container > div:not(.download){
        width: 30%;
    }
    #testimonials .container > div *{
        text-align: left;
    }
    #testimonials .card{
        display: flex;
    }
    .info-user{
        padding-left: 3rem;
        margin: auto 0;
    }
    #benefits .container > .column{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .column{
        margin: 0 -1rem;
    }
    .column > .card{
        width: calc(50% - 2rem);
        margin: 1rem;
    }
    #about-us .container{
        display: flex;
    }
    #about-us .about-par{
        width: 60%;
        padding-right: 50px;
    }
    #about-us .user{
        width: 40%;
    }
    #get-started .container,
    footer .container{
        width: 50vw;
    }
}

/* tablet > desktop */
@media screen and (min-width:1100px) {
    .container{
        width: 70vw;
    }
    nav{
        display: block;
    }
    .bars{
        display: none;
    }
    .download{
        display: flex;
    }
    .download > div{
        width: 50%;
    }
    #planning .container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 60vw;
    }
    #planning .white{
        margin: 0;
    }
    .strategic{
        padding-right: 50px;
    }
    #benefits .card{
        width: calc(100% / 3 - 2rem);
    }
}