/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    padding: 2rem;
    margin: 0 auto;
}
.flex{
    display: flex;
}
section{
    padding: 2rem 0;
}
li{
    list-style: none;
}
.card{
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 2rem;
}
p{
    line-height: 30px;
}
.button a{
    padding: 0.5em 3em;
    border-radius: 5rem;
}

/* HEADER */
header{
    background-color: #0084fd;
}
.container{
    justify-content: space-between;
}
.bars a i{
    font-size: 1.5rem;
    color: white;
}

/* MAIN */
main img{
    width: 100%;
}
main a{
    text-decoration: none;
    color: white;
}

/* app */
.blue{
    background-color: #b5ddff;
    text-align: center;
}
.demo-application p{
    margin: 2rem 0;
}
.demo-application h2,
.demo-application h3,
.demo-application i{
    color:#0084fd;
}
.dowload *{
    text-align: left;
}
.dowload .button a{
    background-color: #0084fd;
}
.dowload .button i{
    font-size: 1rem;
    margin-right: 5px;
    color: white;
}
.blue i{
    font-size: 5rem;
    margin-bottom: 2rem;
}

/* planning strategic */
.planning{
    background-color: #9792e4;
}
.planning > div:first-child{
    padding: 2rem;
    color: white;
}
.planning h2{
    margin: 3rem 0;
    font-size: 2em;
}
.white{
    background-color: white;
    color: black; 
    text-align: center;
}
.white h3{
    margin: 2rem 0;
    font-size: 2rem;
}
.white i{
    margin-top: 2rem;
}

/* testimonial */
.testimonials *{
    text-align: center;
}
.testimonials h2{
    font-size: 2em;
    margin: 0.5em 0;
    color: #9792e4;
}
.testimonials p{
    margin-top: 0.5em;
    margin-bottom: 1.5rem;
}
.testimonials span{
    font-size: 1.5em;
}
.violet{
    background-color: #9792e4;
    color: white;
}

/* benefits */
.benefits{
    background-color: #9792e4;
    color: white;
    text-align: center;
}
.benefits h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.benefits .white{
    text-align: left;
    color: #9792e4;
    background-color: white;
}
.benefits .white h3{
    font-size: 2em;
}
.benefits .white h4{
    margin: 2rem 0;
    font-size: 1.5em;
}
.benefits .white p{
    margin-bottom: 2rem;
    color: black;
}
.benefits .button a{
    background-color: #9792e4;
}

/* about us */
.about-us{
    color: #9792e4;
}
.about-us h2{
    font-size: 3em;
}
.about-us p{
    color: black;
    margin: 2rem 0;
}
.about-us h3{
    margin: 2rem 0;
    font-size: 2em;
}
.about-us .button a{
    background-color: #9792e4;
    font-size: 12px;
    padding: 0.5rem 1rem;
}

/* get started */
.get-started{
    background-color: #9792e4;
    color: white;
    text-align: center;
}
.get-started h2{
    font-size: 1em;
    color: #c5c2f0;
}
.get-started h3{
    font-size: 2em;
    margin: 1rem 0;
}
.get-started .free{
    display: inline-block;
    font-size: 4em;
    margin: 2rem 0;
    color: #fdc15f;
}
.get-started p{
    /* margin-bottom: 3rem; */
}
.get-started .button{
    margin: 2rem 0;
}
.get-started .button a{
    background-color: white;
    color: blueviolet;
    font-size: 1.0em;
    padding: 1rem 6rem;
}
.copyright a{
    text-decoration: underline;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 500px;
}
footer section{
    padding: 0;
}
footer .container{
    padding-bottom: 0;
    padding-top: 0;
}
footer span{
    display: inline-block;
    padding-top: 3rem;
}





/* DEBUG */
