/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'PT Sans', sans-serif;
}
.container{
    padding: 1rem;
    margin: 0 auto;
}
.flex{
    display: flex;
}
:root{
    --color-1: #0084fd; 
    --color-2: #b5ddff;
    --color-3: #9792e4;
}
p{
    line-height: 30px;
}
.button a{
    padding: 0.5em 3em;
    border-radius: 5rem;
}

/* HEADER */
header{
    background-color: var(--color-1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}
header > .container{
    justify-content: space-between;
}
nav{
    display: none;
    margin: auto 0;
}
nav ul > li{
    list-style: none;
    display: inline-block;
}
nav ul > li a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
nav ul > li a:not(.button a):hover{
   text-decoration: underline;
}
nav .button a{
    background-color: white;
    color: black;
    padding: 5px;
}
.menu-bars{
    margin: auto 0;
}
.menu-bars a i{
    font-size: 1.5rem;
    color: white;
}

/* MAIN */
main{
    padding-top: 50px;
}
main a{
    text-decoration: none;
    color: white;
}
section{
    padding: 2rem 0;
}
.avatar{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
}
.card{
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 2rem;
}
#planning,
#testimonials,
#benefits, 
#about-us, 
#get-started{
    scroll-margin: 50px;
}

/* demo application */
#demo-application p{
    margin: 2rem 0;
}
#demo-application h2,
#demo-application h3{
    color:var(--color-1);
}
.download{
    padding-bottom: 0;
    text-align: left;
}
.download .phone{
    align-items: flex-end;
    justify-content: center;
}
.download .phone img{
    width: 80%;
}
.download .button a{
    background-color: var(--color-1);
}
.download .button i{
    font-size: 1rem;
    margin-right: 5px;
    color: white;
}
#demo-application .blue{
    background-color: var(--color-2);
}
#demo-application .blue:not(.download){
    text-align: center;
}
.blue i{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--color-1);
}

/* strategic planning*/
#planning{
    background-color: var(--color-3) ;
}
#planning img{
    width: 100%;
}
.strategic{
    color: white;
}
.strategic h2{
    margin: 3rem 0;
    font-size: 2em;
}
#planning .white{
    background-color: white;
    color: black; 
    text-align: center;
}
#planning .white h3{
    margin: 2rem 0;
    font-size: 2rem;
}
#planning .white p{
    margin-bottom: 2rem;
}
.arrow{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9792e4;
    margin: 0 auto;
}
.arrow i{
    line-height: 50px;
}

/* testimonial */
#testimonials *{
    text-align: center;
}
#testimonials h2{
    font-size: 2em;
    margin: 0.5em 0;
    color: var(--color-3);
}
#testimonials p{
    margin-top: 0.5em;
    margin-bottom: 1.5rem;
}
#testimonials span{
    font-size: 1em;
}
#testimonials .violet{
    background-color: var(--color-3);
    color: white;
}

/* benefits */
#benefits{
    background-color: var(--color-3);
    color: white;
    text-align: center;
}
#benefits h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#benefits .white{
    text-align: left;
    color: var(--color-3);
    background-color: white;
}
#benefits .white h3{
    font-size: 4em;
}
#benefits .white h4{
    margin: 1rem 0;
    font-size: 1.5em;
}
#benefits .white p{
    margin-bottom: 2rem;
    color: black;
}
#benefits .button a{
    background-color: var(--color-3);
}

/* about us */
#about-us{
    color: var(--color-3) ;
}
#about-us h2{
    font-size: 3em;
}
#about-us p{
    color: black;
    margin: 2rem 0;
}
#about-us h3{
    margin: 2rem 0;
    font-size: 2em;
}
.img-user{
    position: relative;
    display: inline-block;
}
.img-user > i{
    position: absolute;
    font-size: 5rem;
    top: 0;
    right: 0;
}
#about-us .button a{
    background-color: var(--color-3);
    font-size: 12px;
    padding: 0.5rem 1rem;
}

/* get started */
#get-started{
    background-color: var(--color-3);
    color: white;
    text-align: center;
}
#get-started h2{
    font-size: 1em;
    color: #c5c2f0;
}
#get-started h3{
    font-size: 2em;
    margin: 1rem 0;
}
#get-started .free{
    display: inline-block;
    font-size: 4em;
    margin: 2rem 0;
    color: #fdc15f;
}
#get-started .button{
    margin: 2rem 0;
}
#get-started .button a{
    background-color: white;
    color: var(--color-3);
    font-size: 1.0em;
    padding: 1rem 6rem;
}
.copyright a{
    text-decoration: underline;
}
/* FOOTER */
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer section{
    padding: 0;
}
footer .container{
    padding-bottom: 0;
    padding-top: 0;
}
footer span{
    display: inline-block;
    padding: 2rem 0;
}